
.card-header {
    color: rgb(243, 106, 123);
    background-color: rgb(252, 186, 173);
}
.card {
    background-color: rgb(255, 135, 135); /* Ganti dengan warna yang diinginkan */
    color: white; /* Ganti dengan warna teks yang kontras */
    /* Atur properti lain sesuai kebutuhan */
    padding: 20px;
    border-radius: 5px;
}
.btn {
    background-color: rgb(158, 157, 137);
}
.btn:hover {
    background-color: rgb(169, 169, 169);
}
